<div xmlns="http://www.w3.org/1999/xhtml">

		  <!--<h2>SearchParameter: {{sp.name}}</h2>
				<b> description</b> : {{sp.description | markdown | safe }}
			<br/>-->
			<p>
				<b> id</b> {{Patient.id}}</p>
  {% include foo.html %}


  <!-- this include does not work :-(
  nor does "{ % comment % } my comment { % endcomment % }" :-( --></div>

